<!DOCTYPE html>

{% load account_tags %}

<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>仕訳日記帳</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <p>日付</p>
                </th>
                <th>
                    <p>摘要</p>
                </th>
                <th>
                    <p>金額</p>
                </th>
                <th>
                    <p>借方</p>
                </th>
                <th>
                    <p>貸方</p>
                </th>
                <th>
                    <p>類別</p>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
            <tr>
                <td>
                    <p>{{ trade.dating|jpdate }}</p>
                </td>
                <td>
                    <p>{{ trade.desc }}</p>
                </td>
                <td>
                    <p>{{ trade.amount }}</p>
                </td>
                <td>
                    <p>{{ trade.dr_name }}</p>
                </td>
                <td>
                    <p>{{ trade.cr_name }}</p>
                </td>
                <td>
                    <p>{{ trade.label }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>